*{
	box-sizing: border-box;
	margin: 0;
}

ul {
	list-style-type: none;
}

h1{
	font-size: 4rem;
	font-weight: 900;
	align-self: flex-start;
	color: white;
	margin-bottom: 100px;
}

h2{
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 20px;
}

span{
	margin-right: 20px;
}

.welcome-menu{
	background-color: white;
	padding: 50px 50px;
	position: relative;
}

.welcome-jumbo{
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #f9ad53; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #f9ad53 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #f9ad53 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #f9ad53 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
	overflow: hidden;
	padding: 100px
}

.croissant{
	max-width: 800px;
	width: 100%;
}

.status{
	display: inline-block;
	padding: 10px 20px;
	font-size: 1.8rem;
	font-weight: 700;
	color: white;
	background: black;
	border-radius: 5px;
	align-self: flex-start;
	margin-bottom: 10px;
}

.logo{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.logo img{
	max-width: 200px;
}

.menu{
	margin-bottom: 50px;
}

.menu-title{
	text-transform: uppercase;
	color: #5e3817;
	font-weight: 700;
	font-size: 1.2rem;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.links{
	color: black;
	font-weight: 700;
	font-size: 1.1rem;
	text-decoration: none;
	margin-bottom: 1.4rem;
	display: block;
	transition: color .3s ease-in-out;
}

.links:hover{
	color: #f9ad53;
}

.social-icons{
	display: flex;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #5e3817;
	font-size: .9rem;
	text-decoration: none;
	color: #f9ad53;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin-right: 10px;
}

.location{
	align-self: center;
	position: absolute;
	bottom: 100px;
}

.address{
	color: #5e3817;
	font-weight: 650;
	line-height: 1.7;
	margin-bottom: 10px;
}

.phone-number a {
	color: black;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
}

.restaurant-image{
	overflow: hidden;
	height: 100%;
}

.restaurant-image img{
	width: 100%;
	
}

.restaurant-info{
	padding: 100px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.paragraphs{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 50px;
	line-height: 1.7;
	color: grey;
	font-size: 1.1rem;
	margin-bottom: 2rem;
}

.about-link{
	font-size: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000000;
	font-weight: 700;
}

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	background: #f9ad53; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #f9ad53 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #f9ad53 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #f9ad53 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */	
	border-radius: 50%;
	font-size: 1.3rem;
}

.fa-chevron-right{
	color: white;
}

#welcome{
	display: grid;
	grid-template-columns: 350px 1fr;
	width: 100%;
	height: 100vh
}


#information {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100vh;
}





